body{
    background-color: #f8fafc;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items:  center;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    padding: 10px;
    border-radius: 5px;
}

a{
    text-decoration: none;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 15px;
    row-gap: 20px;
    position: relative;
}

.full-link{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
 
.info{
    display: flex;
    list-style: none;
    gap: 20px;
    
}

.nav-bar-btn a{
    text-decoration: none;
    color: inherit;
}

.nav-bar-btn{
    background-color: white;
    color: black;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

.nav-bar-btn:hover{
    background-color: black;
    color: #fff;
}
.image{
    width: 100%;
       height: 200px;         
    object-fit: cover;    
    display: block;
    border-radius: 5px;

}

.card{
    row-gap: 15px;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    border-radius: 5px;
        
}
.search{
    display:flex;
    align-items: center;
    justify-content: end;
}

.search input{
    display: flex;
    margin: 10px;
    border-radius: 7px;
    border-width: 1px;
}