body{
    display: flex;
    justify-content: center;
    background-color: rgb(251, 240, 240);
}

.login{
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 50px;
    border-radius: 20px;
    color:white;
    margin-top: 100px;
}

.btn{
    background-color: white;
    color: black;
    font-size: large;
    font-weight: bold;
    border: none;
    padding: 10px 60px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    color: white;
    background-color: rgb(58, 55, 55);
}

.text-box{
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    border-color: white;
    padding: 10px;
    width: 300px;
}

.text-box::placeholder{
    color: white;
}